a.dropdown-item:active
{
    color: #29a5ea !important;
}
#notificationdropdown
{
    max-width: 400px !important;
    width: 22rem;
}
#notificationdropdown p
{
    white-space: initial !important;
}
.notitimeicon
{
    font-size: 13px;
    margin-right: 1px;
}
footer a
{
    color: #51bef4 !important;
}
.notification
{
    width: 40px;
    height: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 100%;
    color: #ffffff;
}
.notify-a-class:hover
{
    text-decoration: none !important;
}
.notify-a-class .ticket-card:hover
{
    background-color: #f9f9f9;
}
.unread
{
    background-color: #fafafa;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand img
{
    width: auto !important;
    height: auto !important;
}
.img-responsive
{
    width: 100% !important;
}
.panel-bordered-mlm-list {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
#social-links ul
{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#social-links ul li {
    float: left;
    padding: 5px;
}
#social-links ul li a{
    font-size: 25px;
    color: #0086c6;
}
#social-links ul li a:hover{
    color: #08bcc6;
}

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
#timerForm {
    display: none;
}